.link-container {
    position: sticky;
    top: 0;
    margin-top: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(to right, #f8f8f8, #e3e3e3);
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
   
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;  /* Allows wrapping instead of overflowing */
    overflow-x: hidden;  /* Prevents horizontal scroll */
    max-width: 100%;
}

.links {
    flex-grow: 1;
    text-align: center;
    padding: 12px ;
    cursor: pointer;
    color: #004d00;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(236, 222, 204, 0.9), rgba(240, 230, 210, 0.9));
    border-radius: 8px;
    border: none;
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: #004d00;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.links:hover::after {
    width: 100%;
    left: 0;
}

.links:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.links.active {
    color: white;
    background: linear-gradient(135deg, #004d00, #006600);
    box-shadow: 0 4px 8px rgba(0, 100, 0, 0.3);
    transform: scale(1.02);
}

.links.active::after {
    width: 100%;
    left: 0;
}
